<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>
      <%= f.input :password, required: true %>
      <%= f.input :password_confirmation, required: true %>
      <%= f.input :gender, required: true, collection: [:Male, :Female], as: :radio_buttons  %>
      <%= f.input :mobile, required: true, as: :tel %>
      <%= f.input :avatar, as: :file %>
      <%= f.input :avatar_cache, as: :hidden %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up" %>
    </div>
<% end %>

<%= render "devise/shared/links" %>
