<h1> Log in</h1>

<% if user_signed_in? %>
    Signed in as <strong><%= current_user.email %></strong>
    <%= image_tag(current_user.avatar_url(:thumb)) %>
    <%= link_to 'Edit profile', edit_user_registration_path %> |
    <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>

<% else %>
    <%= link_to 'Sign Up', new_user_registration_path %> |
    <%= link_to 'Sign In', new_user_session_path %>
<% end %>

